<div class="mt-4">
    <div class="row">
            <div class="col-lg-3">
                <button class="btn btn-primary">MUA NGAY</button>
            </div>
            <div class="col-lg-9">
                <h2>{{course.name}}</h2> 
                <h6>Video</h6>
                <div class="row">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                
            <h6 class="mt-4">{{course.description}}</h6>
            </div>


            
    </div>
</div>