.app {
  width: 80%;
  margin: 0 auto; }

.search {
  margin: 10% auto;
  width: 80%; }

.title {
  text-align: center;
  color: yellowgreen; }

.user-login {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px; }
