<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        
        <div class="bg-dark p-4">
            <h4 class="text-white">Collapsed content</h4>
            <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" style="color: red;">Academy Sync</a>
        
        <div class="dropdown">
            <img class="user-login" src="https://kenh14cdn.com/thumb_w/620/203336854389633024/2021/1/3/u1-16094945015581527985284-1609644603319961538132.jpg" alt="">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                
                LuanTran
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
                <a class="dropdown-item" href="dashboard/stored/coureses">Admin</a>
                <a class="dropdown-item" href="#">Đăng xuất</a>
            </div>
        </div>
        
    </nav>
</div>