<form class="search">
    
    <div class="form-group">
        <h1 class="title">GOOGLE FAKE</h1>
        <label for="exampleInputPassword1">Từ khóa</label>
        <input type="text" name="q" class="form-control" id="exampleInputPassword1" >
    </div>
    
    <button type="submit" class="btn btn-success">Tìm kiếm</button>
</form>